@import "grid";
@import "checkbox";
@import "radio";

.container {
    background-color: #eef1be;
    box-sizing: border-box;
    padding: 10px;
}
[class*='col-'] {
    align-items: center;
    display: flex;
    justify-content: space-around;
    outline: 1px solid #000;
}

